doctype html
html(lang='ko')
    head
        meta(charset='UTF-8')
        |    
        title Speed Travel Guide
        |    
        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
        |    
        link(type='text/css', rel='stylesheet', href='/stylesheets/style_r.css')
        |    
        link(href='http://fonts.googleapis.com/css?family=Courgette', rel='stylesheet', type='text/css')
        |    
        script.
            function resize(obj) {
            obj.style.height = "1px";
            obj.style.height = (20+obj.scrollHeight)+"px";
            }
    body
        #wrapper
            h1
                a(href='/') Speed Travel Guide
            // Begin Navigation Bar
            #navWrapper
                ul#nav
                    li.item
                        a(href='/food')  먹거리 여행 
                    |             
                    li.item
                        a(href='/sea')  바다 여행
                    |             
                    li.item
                        a(href='/photo')  사진 여행 
                    |             
                    li.item
                        a(href='/activity')  액티비티 여행 
                    |             
                    li.item
                        a(href='/best') Best 여행
                    |             
                    li.item1
                        a(href='/posts/contact')  문의 
            // Begin main contact
            #Content.content
                h1 포항
                |          
                #region
                    h2 음식점
                    |            
                    ul#res
                    each pohangres in pohangress 
                        li#name
                            =pohangres.name
                        |                
                        li#note
                            =pohangres.note
                        |                
                        li#main_menu
                            =pohangres.menu
                        |                
                        li#time
                            =pohangres.time
                        |                
                        li#call
                            =pohangres.call
                        |                
                        li#address
                            =pohangres.address
                    |             
                    h2#stay 숙박시설
                    |             
                    ul
                    each pohangstay in pohangstays
                        li#name 
                            =pohangstay.name
                        |                
                        li#note
                            =pohangstay.note 
                        |                
                        li#room
                            =pohangstay.room
                        |                
                        li#call
                            =pohangstay.call
                        |                
                        li#address
                            =pohangstay.address
                        |                
                        li#homepage
                            =pohangstay.homepage
                    |             
                    h2#view 관광지
                    |             
                    ul
                    each pohangview in pohangviews
                        li#name
                            =pohangview.name
                        |                
                        li#note
                            =pohangview.note
                        |                
                        li#address
                            =pohangview.address
                        |                
                        li#inquiry
                            =pohangview.inquiry
                #memo(onkeyup='resize(this)')
                    each pohangview in pohangviews
                        #map(style='width:100%;height:300px;')
                        script(type='text/javascript', src='//apis.daum.net/maps/maps3.js?apikey=f5d6b2997da77f349318f9d55088c536&libraries=services')
                        script.
                            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                            mapOption = {
                            center: new daum.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                            level: 10 // 지도의 확대 레벨
                            };
                            // 지도를 생성합니다
                            var map = new daum.maps.Map(mapContainer, mapOption);
                                    // 주소-좌표 변환 객체를 생성합니다
                            var geocoder = new daum.maps.services.Geocoder();
                            // 주소로 좌표를 검색합니다
                            geocoder.addr2coord('#{pohangview.address}', function(status, result) {
                            // 정상적으로 검색이 완료됐으면
                            if (status === daum.maps.services.Status.OK) {
                            var coords = new daum.maps.LatLng(result.addr[0].lat, result.addr[0].lng);
                            // 결과값으로 받은 위치를 마커로 표시합니다
                            var marker = new daum.maps.Marker({
                            map: map,
                            position: coords
                            });
                            // 인포윈도우로 장소에 대한 설명을 표시합니다
                            var infowindow = new daum.maps.InfoWindow({
                            content: '<div style="width:100px;text-align:center;padding:6px 0;color:black;"> #{pohangview.name} </div>'
                            });
                            infowindow.open(map, marker);
                            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                            map.setCenter(coords);
                            }
                            });
                    each pohangstay in pohangstays
                        #map(style='width:100%;height:300px;')
                        script(type='text/javascript', src='//apis.daum.net/maps/maps3.js?apikey=f5d6b2997da77f349318f9d55088c536&libraries=services')
                        script.
                            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                            mapOption = {
                            center: new daum.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                            level: 10 // 지도의 확대 레벨
                            };
                            // 지도를 생성합니다
                            var map = new daum.maps.Map(mapContainer, mapOption);
                                    // 주소-좌표 변환 객체를 생성합니다
                            var geocoder = new daum.maps.services.Geocoder();
                            // 주소로 좌표를 검색합니다
                            geocoder.addr2coord('#{pohangstay.address}', function(status, result) {
                            // 정상적으로 검색이 완료됐으면
                            if (status === daum.maps.services.Status.OK) {
                            var coords = new daum.maps.LatLng(result.addr[0].lat, result.addr[0].lng);
                            // 결과값으로 받은 위치를 마커로 표시합니다
                            var marker = new daum.maps.Marker({
                            map: map,
                            position: coords
                            });
                            // 인포윈도우로 장소에 대한 설명을 표시합니다
                            var infowindow = new daum.maps.InfoWindow({
                            content: '<div style="width:100px;text-align:center;padding:6px 0;color:black;"> #{pohangstay.name} </div>'
                            });
                            infowindow.open(map, marker);
                            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                            map.setCenter(coords);
                            }
                            });
                    each pohangres in pohangress
                        #map(style='width:100%;height:300px;')
                        script(type='text/javascript', src='//apis.daum.net/maps/maps3.js?apikey=f5d6b2997da77f349318f9d55088c536&libraries=services')
                        script.
                            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                            mapOption = {
                            center: new daum.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                            level: 10 // 지도의 확대 레벨
                            };
                            // 지도를 생성합니다
                            var map = new daum.maps.Map(mapContainer, mapOption);
                                    // 주소-좌표 변환 객체를 생성합니다
                            var geocoder = new daum.maps.services.Geocoder();
                            // 주소로 좌표를 검색합니다
                            geocoder.addr2coord('#{pohangres.address}', function(status, result) {
                            // 정상적으로 검색이 완료됐으면
                            if (status === daum.maps.services.Status.OK) {
                            var coords = new daum.maps.LatLng(result.addr[0].lat, result.addr[0].lng);
                            // 결과값으로 받은 위치를 마커로 표시합니다
                            var marker = new daum.maps.Marker({
                            map: map,
                            position: coords
                            });
                            // 인포윈도우로 장소에 대한 설명을 표시합니다
                            var infowindow = new daum.maps.InfoWindow({
                            content: '<div style="width:100px;text-align:center;padding:6px 0;color:black;"> #{pohangres.name} </div>'
                            });
                            infowindow.open(map, marker);
                            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                            map.setCenter(coords);
                            }
                            });   
                #navbar
                    span 리모콘
                    |             
                    ul
                        li
                            a(href='#res') 음식점
                        |                
                        li
                            a(href='#stay') 숙박
                        |                
                        li
                            a(href='#view') 관광지
        // Begin footer
        #footer
            p
                b
                    | (주)명지대학교   /   제작자 김재한 정연훈 임윤정   /   대표번호 
                    b
                        | 010 5195 0890   / 문의사항 이메일 :  
                        a(href='mailto:mju6013@naver.com') mju6013@nver.com
                        |  카카오톡ID :  jem0890 
                        br
                        |  문의시간 :  월~금  11:00 ~ 17:00   /   © 2016 Speed Travel Guide